{{ header }}{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right">
        <button type="button" data-toggle="tooltip" title="{{ button_filter }}" onclick="$('#filter-order').toggleClass('hidden-sm hidden-xs');" class="btn btn-default hidden-md hidden-lg"><i class="fa fa-filter"></i></button>
        {# <button type="button" id="button-setting" title="{{ button_setting }}" data-loading-text="{{ text_loading }}" class="btn btn-info"><i class="fa fa-cog"></i></button> #}
      </div>
      <h1>{{ heading_title }}</h1>
      <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
        <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="container-fluid">
    {% if error_install %}
    <div class="alert alert-danger alert-dismissible">
      <button type="button" class="close pull-right" data-dismiss="alert">&times;</button>
      <i class="fa fa-exclamation-circle"></i> {{ error_install }}</div>
    {% endif %}
    <div id="filter-order" class="col-md-3 col-md-push-9 col-sm-12 hidden-sm hidden-xs">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title"><i class="fa fa-filter"></i> {{ text_filter }}</h3>
        </div>
        <div class="panel-body">
          <div class="form-group">
            <label class="control-label" for="input-year">{{ 'Year' }}</label>
            <select name="filter_year" id="input-year" class="form-control">
              <option value="0" selected="selected">None</option>
              {% for year in years %}
              {% if year == filter_year %}
              
              <option value="{{ year }}" selected="selected">{{ year }}</option>
              
              {% else %}
              
              <option value="{{ year }}">{{ year }}</option>
              
              {% endif %}
            {% endfor %}
          </select>
          </div>
          <div class="form-group">
            <label class="control-label" for="input-month-name">{{ 'Month' }}</label>
            <select name="filter_month" id="input-month-name" class="form-control">
              <option value="0" selected="selected">None</option>
            {% for key,month in months %}
              {% if key == filter_month %}
              
              <option value="{{ key }}" selected="selected">{{ month }}</option>
              
              {% else %}
              
              <option value="{{ key }}">{{ month }}</option>
              
              {% endif %}
            {% endfor %}
          </select>
          </div>
          <div class="form-group">
            <label class="control-label" for="input-month-name">{{ 'Payment Method' }}</label>
            <select name="filter_payment" id="input-payment" class="form-control">
              <option value="0" selected="selected">None</option>
              {% if filter_payment == 'payu' %}
              <option value="payu" selected="selected">{{ 'Pay U Money' }}</option>
              <option value="ccavenuepay">{{ 'CC Avenue' }}</option>
              {% elseif filter_payment == 'ccavenuepay' %}
              <option value="payu">{{ 'Pay U Money' }}</option>
              <option value="ccavenuepay" selected="selected">{{ 'CC Avenue' }}</option>
              {% else %}
              <option value="payu">{{ 'Pay U Money' }}</option>
              <option value="ccavenuepay">{{ 'CC Avenue' }}</option>
              {% endif %}
            </select>
          </div>
          <div class="form-group">
            <label class="control-label" for="input-date-added">{{ 'Start Date' }}</label>
            <div class="input-group date">
              <input type="text" name="filter_date_start" value="{{ filter_date_start }}" placeholder="{{ 'Start Date' }}" data-date-format="YYYY-MM-DD" id="input-date-added" class="form-control" />
              <span class="input-group-btn">
              <button type="button" class="btn btn-default"><i class="fa fa-calendar"></i></button>
              </span> </div>
          </div>
          <div class="form-group">
            <label class="control-label" for="input-date-added">{{ 'End Date' }}</label>
            <div class="input-group date">
              <input type="text" name="filter_date_end" value="{{ filter_date_end }}" placeholder="{{ 'End Date' }}" data-date-format="YYYY-MM-DD" id="input-date-added" class="form-control" />
              <span class="input-group-btn">
              <button type="button" class="btn btn-default"><i class="fa fa-calendar"></i></button>
              </span> </div>
          </div>
          <div class="form-group">
            <label class="control-label" for="input-date">{{ 'Date Filter' }}</label>
            <div class="input-group date">
              <input type="text" name="filter_date" value="{{ filter_date }}" placeholder="{{ 'Date Filter' }}" data-date-format="YYYY-MM-DD" id="input-date" class="form-control" />
              <span class="input-group-btn">
              <button type="button" class="btn btn-default"><i class="fa fa-calendar"></i></button>
              </span> </div>
          </div>
          <div class="form-group text-right">
            <button type="button" id="button-filter" class="btn btn-default"><i class="fa fa-filter"></i> {{ button_filter }}</button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-9 col-md-pull-3 col-sm-12">
    {% for row in rows %}
    <div class="row">{% for dashboard_1 in row %}
      {% set class = 'col-lg-%s %s'|format(dashboard_1.width, 'col-md-3 col-sm-6') %}
      {% for dashboard_2 in row %}
      {% if dashboard_2.width > 3 %}
      {% set class = 'col-lg-%s %s'|format(dashboard_1.width, 'col-md-12 col-sm-12') %}
      {% endif %}
      {% endfor %}
      <div class="{{ class }}">
      <div class="tile tile-primary">
  <div class="tile-heading">{{ 'Order' }} <span class="pull-right">
    {% if percentage > 0 %} 
    <i class="fa fa-caret-up"></i>
    {% elseif percentage < 0 %}
    <i class="fa fa-caret-down"></i>
    {% endif %}
    {{ dashboard_1.count }}</span></div>
  <div class="tile-body"><i class="fa fa-shopping-cart"></i>
    <h2 class="pull-right" style="font-size: 20px !important;">{{ dashboard_1.order }}<br>{{ dashboard_1.count }} <br>{% if dashboard_1.cod_total %} COD:{{ dashboard_1.cod_total }} {% endif %} <br> {% if dashboard_1.other_total %} Online Order:{{ dashboard_1.other_total }} {% endif %}</h2>
    {# <h2 class="pull-right" style="font-size: 26px !important;">({{ dashboard_1.count }})</h2> #}
  </div>
  {% if filter_year and filter_month %}
  <div class="tile-footer"><a href="{{ order }}&filter_order_status_id={{ dashboard_1.order_status_id }}&filter_month={{ filter_month }}&filter_year={{ filter_year }}">{{ text_view }}</a></div>
  {% else %}
  <div class="tile-footer"><a href="{{ order }}&filter_order_status_id={{ dashboard_1.order_status_id }}">{{ text_view }}</a></div>
  {% endif %}
</div>
      </div>
      {% endfor %}</div>
    {% endfor %}</div>
  </div>
  <script type="text/javascript"><!--
$('#button-filter').on('click', function() {
	url = '';

	var filter_year = $('select[name=\'filter_year\']').val();

	if (filter_year) {
		url += '&filter_year=' + encodeURIComponent(filter_year);
	}

	var filter_month = $('select[name=\'filter_month\']').val();

	if (filter_month) {
		url += '&filter_month=' + encodeURIComponent(filter_month);
  }
  
  var filter_date_start = $('input[name=\'filter_date_start\']').val();

if (filter_date_start) {
  url += '&filter_date_start=' + encodeURIComponent(filter_date_start);
}
var filter_date_end = $('input[name=\'filter_date_end\']').val();

if (filter_date_end) {
  url += '&filter_date_end=' + encodeURIComponent(filter_date_end);
}

var filter_date = $('input[name=\'filter_date\']').val();

if (filter_date) {
  url += '&filter_date=' + encodeURIComponent(filter_date);
}


var filter_payment = $('select[name=\'filter_payment\']').val();

if (filter_payment) {
  url += '&filter_payment=' + encodeURIComponent(filter_payment);
}


	location = 'index.php?route=sale/order_filter&user_token={{ user_token }}' + url;
});
$('#button-setting').on('click', function() {
	$.ajax({
		url: 'index.php?route=common/developer&user_token={{ user_token }}',
		dataType: 'html',
		beforeSend: function() {
			$('#button-setting').button('loading');
		},
		complete: function() {
			$('#button-setting').button('reset');
		},
		success: function(html) {
			$('#modal-developer').remove();
			
			$('body').prepend('<div id="modal-developer" class="modal">' + html + '</div>');
			
			$('#modal-developer').modal('show');
		},
		error: function(xhr, ajaxOptions, thrownError) {
			alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
		}
	});	
});	
//--></script>
<script src="view/javascript/jquery/datetimepicker/bootstrap-datetimepicker.min.js" type="text/javascript"></script>
<link href="view/javascript/jquery/datetimepicker/bootstrap-datetimepicker.min.css" type="text/css" rel="stylesheet" media="screen" />
<script type="text/javascript"><!--
$('.date').datetimepicker({
language: '{{ datepicker }}',
pickTime: false
});
//--></script> 
</div>
{{ footer }}